@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.tab-container {
  width: 15%;
  background-color: white;
}

.content-container {
  width: 65%;
  background-color: lightgray;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar-container {
  width: 18%;
  background-color: #003a08;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.greeting,
.dollar-amount {
  text-align: left;
  padding: 0px 0px 0px 20px;
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 0px;
}

.dollar-amount {
  color: green;
}

.welcome,
.total-text {
  text-align: left;
  padding: 0px 0px 0px 20px;
  font-size: 1em;
  margin-top: 0px;
}

.dollar-amount,
.total-text {
  text-align: right;
  padding: 0px 20px 0px 0px;
}

.top-section {
  display: flex;
  width: 100%;
}

.top-left {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.top-right {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 60px;
}

.username {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.companyname {
  margin-top: 0px;
  font-size: 0.7em;
}

.button-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.rounded-rectangle-button {
  background-color: lightgray;
  background-color: lightgray;
  padding: 20px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 220px;
  height: 50px;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  max-width: 100%;
}

.button-icon {
  width: 25px;
  height: 25px;
  display: flex;
  color: green;
}

.button-text {
  color: green;
  display: flex;
  font-size: 1.1em;
  padding-left: 10px;
}

.logout-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: grey;
  padding-top: 125px;
}

.copyright-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: grey;
}

.copyright-text {
  font-size: 0.8em;
}

.copyright-icon {
  font-size: 1em !important;
  padding-right: 5px;
}

.logout-text {
  padding-left: 5px;
  color: gray;
  font-size: 1.2em;
  text-transform: none;
}

.logout-icon {
  color: grey;
}

.tab-link {
  font-size: 0.7em;
  color: grey;
  padding: 8px;
}

.circle-icon {
  font-size: 0.5em !important;
  color: grey;
}

.onboarding-text {
  color: white;
  font-size: 1em;
}

.onboarding-top {
  margin: 20px;
  margin-top: 40px;
  text-align: left;
  margin-left: 25px;
}

.sb-logo {
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 0;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.onboarding-bottom {
  align-items: flex-end;
  justify-content: center;
}

.quick-click-button,
.quick-click-button-room,
.metric-button {
  color: white;
  border: none;
  border-radius: 7px;
  width: 275px;
  height: 150px;
  margin: 20px;
  flex-shrink: 1;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.metric-button {
  height: 170px;
}

.quick-click-button-room {
  background-color: green;
}

.quick-button-section,
.metrics-section {
  display: flex;
  justify-content: space-between;
}

.quick-click-icon,
.quick-click-icon-room {
  color: green;
  font-size: 2.7em !important;
}

.quick-click-icon-room {
  color: white;
}

.quick-button-text,
.metric-button-text,
.metric-button-text-2 {
  color: black;
  font-size: 1.2em;
}

.metric-button-text {
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.quick-button-text-room {
  font-size: 1.2em;
}

.metric-text {
  color: black;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
}

.patent-notice {
  padding: 20px;
  color: grey;
}

.beta-img {
  width: 70px;
  position: absolute;
  bottom: 0;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.beta-section {
  position: relative;
  height: 200px;
}
