@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

:root {
  --dark-green: #0f391f;
  --lime-green: #6fb204;
  --light-gray: #f4f4f4;
  --dark-gray: #9e9e9e;
}
.dashboard-container {
  display: flex;
  flex-direction: row;
}

.tab-container {
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.top-tab {
  flex: 1;
  flex-basis: 33%;
  margin-top: 15%;
}

.content-container {
  width: 55%;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.sidebar-container {
  background-color: var(--dark-green);
  display: flex;
  flex-direction: column;
  width: 25%;
}

html,
body,
.dashboard-container,
.tab-container,
.content-container,
.sidebar-container {
  margin: 0;
  height: 100vh;
}

.greeting,
.dollar-amount {
  text-align: left;
  padding: 0px 0px 0px 20px;
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--dark-green);
}

.dollar-amount {
  color: var(--lime-green);
}

.welcome,
.total-text {
  text-align: left;
  padding: 10px 0px 0px 20px;
  font-size: 1em;
  margin-top: 0px;
  font-weight: 200;
  color: var(--dark-green);
}

.total-text {
  text-align: right;
  padding: 10px 20px 0px 0px;
}

.dollar-amount {
  text-align: right;
  padding: 0px 20px 0px 0px;
}

.top-section {
  display: flex;
  width: 100%;
  margin-top: 15px;
  flex: 1;
  flex-basis: 14%;
  margin-top: 7%;
}

.top-left {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.top-right {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.logo {
  width: 100px;
  height: 100px;
}

.username {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: var(--dark-green);
}

.companyname {
  margin-top: 15px;
  font-size: 0.7em;
  font-weight: 200;
  color: var(--dark-green);
}

.button-section {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 0px 20px;
  flex: 1;
  flex-basis: 33%;
}

.rounded-rectangle-button {
  background-color: var(--light-gray);
  background-color: var(--light-gray);
  padding: 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 265px;
  height: 50px;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  max-width: 100%;
}

.button-icon {
  width: 25px;
  height: 25px;
  display: flex;
  color: var(--dark-green);
}

.button-text {
  color: var(--dark-green);
  display: flex;
  font-size: 1.1em;
  font-family: "Comfortaa", sans-serif;
  padding-left: 10px;
  max-width: 100%;
  color: var(--dark-green);
}

.logout-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray);
}

.logout-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex: 1;
  flex-basis: 33%;
  margin-bottom: 15%;
}

.copyright-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray);
}

.copyright-text {
  font-size: 0.8em;
  font-family: "Comfortaa", sans-serif;
}

.copyright-icon {
  font-size: 1em !important;
  padding-right: 5px;
}

.logout-text {
  padding-left: 5px;
  color: var(--dark-gray);
  font-size: 1.2em;
  text-transform: none;
}

.logout-icon {
  color: var(--dark-gray);
  margin-left: 8px;
  font-size: 1.4em !important;
}

.tab-link {
  font-size: 0.7em;
  color: var(--dark-gray);
  padding: 8px;
  cursor: pointer;
}

.circle-icon {
  font-size: 0.5em !important;
  color: var(--dark-gray);
}

.onboarding-text {
  color: white;
  font-size: 1em;
}

.onboarding-top {
  text-align: left;
  flex: 1;
  flex-basis: 5%;
  margin-top: 15%;
  justify-content: center;
  display: flex;
}

.onboarding-middle {
  flex: 1;
  flex-basis: 61%;
  justify-content: center;
  display: flex;
}

.sb-logo {
  height: 20px;
  bottom: 0;
  display: flex;
}

.onboarding-bottom {
  bottom: 0;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30%;
  position: sticky;
  flex: 1;
  flex-basis: 33%;
}

.quick-click-button,
.quick-click-button-room,
.metric-button {
  color: white;
  background-color: white;
  border: none;
  border-radius: 20px;
  width: 275px;
  height: 100%;
  margin: 20px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  margin-top: 0px;
}

.metric-button {
  cursor: default;
  margin-top: 2%;
}

.quick-click-button-room {
  background-color: var(--lime-green);
}

.quick-button-section,
.metrics-section {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-basis: 15%;
  margin-top: 2%;
}

.quick-click-icon,
.quick-click-icon-room {
  color: var(--lime-green);
  font-size: 2.7em !important;
}

.quick-click-icon-room {
  color: white;
}

.quick-button-text,
.metric-button-text,
.metric-button-text-2 {
  color: var(--dark-green);
  font-size: 1em;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 0px;
}

.metric-button-text {
  font-size: 3.5em;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Comfortaa", sans-serif;
}

.quick-button-text-room {
  font-size: 1em;
  font-family: "Comfortaa", sans-serif;
}

.metric-text {
  color: var(--dark-green);
  text-align: left;
  font-size: 1.2em;
  font-family: "Comfortaa", sans-serif;
  margin: 0px;
  font-weight: 700;
  flex: 1;
  flex-basis: 5%;
  margin-left: 20px;
  margin-top: 30px;
}

.patent-notice {
  color: var(--light-gray);
  flex: 1;
  flex-basis: 24%;
  margin-top: 5%;
}

.beta-img {
  width: 35px;
  height: 25px;
  bottom: 0;
  display: flex;
}

.command-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.beta-section {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  flex-basis: 13%;
  align-items: flex-end;
  margin-bottom: 5%;
}

.link-button {
  border: 1px;
  width: auto;
  height: 50px;
  border-radius: 100px;
  background-color: var(--dark-gray);
  color: white;
  font-family: "Comfortaa", sans-serif;
  padding: 0px 25px 0px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.link-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 14%;
  margin-top: 5%;
}

.link-icon {
  padding-left: 10px;
}

.logout-button {
  border: none;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
